.fontClass {
  font-family: obliqua,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.candleData {
  font-size: 14px;
}

.dateClass {
  font-size: 13px;
}

.weekClass {
  color: #eb445a;
}

.nonewLineClass {
  white-space: pre-line;
}

.boldTextClass {
  font-weight: bold;
}

.imageColClass {
  border: solid 1px #3880ff;
}
